
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: "Roboto", sans-serif;
   
}
body{
    /* background: no-repeat url(bg.jpeg) ; */
    background: no-repeat   linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5))  ;
   
                 
}
.button{
    width: 66px;
    padding: 20px;
    margin: 0 3 px;
    border: 2px solid black;
    border-radius:9px ;
    cursor: pointer;
}

.row {
    margin: 8px 0;
}

.row input{
    width: 289px;
    font-size: 20px;
    margin: 0;
    padding:10px 0px;
    border: 2px solid black;
    border-radius: 5px;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;

  }